page-signup {
      .auth-icon{
            font-size: 7.0em;
      }


      .datetime-ios{
            padding-left: 0px !important;
      }

      .datetime-md{
            padding-left: 9px !important;
      }
      
      .btn{
            border-radius: 20px;
      }
}
